# Object files
*.o
*.ko
*.obj
*.elf
kernel
user/bin/*
user/lib/*
user/etc/*
user/rh6/*
*.dbg
ffstool/ffstool
ffstool/ffswin32/Debug/*
ffstool/Debug/*
# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# not a code
*.txt
tags
*.taghl
*.swp
.DS_Store
*.vtg
*.img
*.vpwhist
*/*.vpwhist
*/*.vtg
